@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* Hide horizontal scrollbar */
    padding: 0;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}


.number {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

/* .item {
    display: flex;
    background-color: rgba(51, 51, 51, 50%);
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(172, 172, 172);
    border-radius: 10%;
} */

/* .item.selected.vacation {
    background-color: moccasin;
}


.item.selected.unpaid {
    background-color: lightgreen;
}

.item.selected.parental {
    background-color: lightblue;
} */

.item.selected.vacation {
    @apply bg-[moccasin];
  }
  .item.selected.unpaid {
    @apply bg-[lightgreen];
  }
  .item.selected.parental {
    @apply bg-[lightblue];
  }

.sidebar {
    width: 300px;
    height: 100%;
    background: #f0f0f0;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 100ms ease;
}

.sidebar.open {
    transform: translateX(0%);
}